{% extends 'main.html' %}
{% block content %}
{%load static %}

<main>

    <p class="katalog_t">МАГАЗИНЫ И КОНТАКТЫ</p>

    <p class="katalog_t2">ул. Волочаевская, 8 ЛИТ 1А ,Хабаровск, Россия 680007<br>
+7 (4212) 456-171, ежедневно 11:00-18:00</p>
  <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/76/khabarovsk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Хабаровск</a><a href="https://yandex.ru/maps/76/khabarovsk/house/volochayevskaya_ulitsa_8lit1a/ZUoDaAZgSUAGVUJua2J1d3xrZAE=/?ll=135.100519%2C48.460810&utm_medium=mapframe&utm_source=maps&z=17.09" style="color:#eee;font-size:12px;position:absolute;top:14px;">Волочаевская улица, 8лит1А — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUeyXVfCD" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
      <div class="divid">
      <p class="mail_align"><a href="mailto:piroeffekt@rambler.ru">piroeffekt@rambler.ru</a></p>
      <p class="number">+7 (4212) 250893</p>
</div>
</main>

{%endblock%}