 {% extends 'main.html' %}
 {% block content %}
 {%load static %}
<main>
   <div class="img_fon" style="background-image: url('static/images/2.jpg')">
    <div class="wrap__center"> 
    <div class="img_center"> 
      <img src="{% static 'images/1.png' %}" alt="">
      {% comment %} <img src="{% static 'images/2.jpg' %}" alt="">      {% endcomment %}
</div>
    </div> 
<div class="button__center">
 <button id="button">Каталог</button> 
</div>
      </div>
   </div>
<p class="katalog_t">Каталог</p>
<div class="container4">

 
 

        <div class="item2">
      
         <img src="11.png" alt="">
         <p class="katalog__text"> ТОВАРЫ ДЛЯ ПРАЗДНИКА</p>
  
        </div>
    
      <div class="item2">
    
        <img src="22.png" alt="">
     <p class="katalog__text">ФОНТАНЫ</p>
        </div>
      <div class="item2">
      
      <img src="33.png" alt="">
  <p class="katalog__text">ПРОЧЕЕ</p>
        </div>
     <div class="item2">
      
          <img src="44.png" alt="">
  <p class="katalog__text">РАКЕТЫ</p>
        </div>
     <div class="item2">
      
         <img src="55.png" alt="">
  <p class="katalog__text">БАТАРЕИ САЛЮТОВ</p>
        </div>
      <div class="item2">
      
        <img src="66.png" alt="">
  <p class="katalog__text">ФЕСТИВАЛЬНЫЕ ШАРЫ</p>
        </div>
     <div class="item2">
      
         <img src="77.png" alt="">
  <p class="katalog__text">РИМСКИЕ СВЕЧИ</p>
        </div>
       <div class="item2">
      
          <img src="88.png" alt="">
  <p class="katalog__text">ПЕТАРДЫ</p>
        </div>
       <div class="item2">
      
          <img src="99.png" alt="">
  <p class="katalog__text">БЕНГАЛЬСКИЕ СВЕЧИ</p>
        </div>

      </div>

</main>
   
{%endblock%}