 {% extends 'main.html' %}
 {% block content %}
 {%load static %}
<main>
   <div class="img_fon" style="background-image: url('static/images/2.jpg')">
    <div class="wrap__center"> 
    <div class="img_center"> 
      <img src="{% static 'images/1.png' %}" alt="">
      {% comment %} <img src="{% static 'images/2.jpg' %}" alt="">      {% endcomment %}
</div>
    </div> 
<div class="button__center">
<a href="{% url 'catalog' %}" id="button"><p id='text_btn'>Каталог</p></a> 
</div>
      </div>
   </div>
   
<p class="katalog_t">Каталог</p>
 
<div class="container4">
      {% for product in products %}
 
     
      
        <div class="item2">
            <p class="katalog__text">   {{ product.name }}</p>
         <img src="{{ product.image.url }}" alt="">
         
        <p class="katalog__text2"> <a  href="{{ product.get_absolute_url }}">
            {{ product.name }}
        </a ></p>
        {% comment %} <p class="katalog__text">{{ product.description|striptags|truncatechars:200 }}</p>  {% endcomment %}
      
        </div>  
        {% endfor %}  
      </div>      
     
      

      
       
</main>
   
{%endblock%}