{% extends 'main.html' %}
{% block content %}
{%load static %}
     
      
   
        <div class="form">
        <form method="post" class="form-registration" id='contact'>
            <p class="katalog_t">Авторизация пользователя</p>
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
        
            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button id ="contact-submit" type="submit">Входим</button>
            <h4 >нет аккаунта? </h4>
            <a  href="{% url 'register' %}">Зарегистрироваться сейчас</a>
        </form>
    </div>


{%endblock%}